.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  background-color: var(--color-background); /* e.g. white or light */
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-bottom: 1px solid var(--color-border);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: auto;
  width: 200px;

  
   
  
}

.welcome-text {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-text-primary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
